path {
	stroke: #fff;
	stroke-width: 10;
}
circle {
	fill: #3DC23F;
}
path.cords{
	stroke: #e8e4e4;
	stroke-width: 3;	
}
text{
	fill:#6f6f6f;
}
.main, .mapdiv{
	padding: 0 20px;
}
.mapdiv{
	height: 100px;
}
circle{
	fill-opacity: 0;
	stroke-opacity: 0;
}
circle:hover{
	fill-opacity: 1;
	stroke-opacity: 1;
}
.circlehover{
	fill-opacity: 1;
	stroke-opacity: 1;
}
.verticalpath{
	stroke: #e8e4e4;
}
#leftChSize, #rightChSize{
	height: 100%;
	width: 7px;
	background-color: #76c7ff;
	opacity: 0.5;
}
body{
	background-color: #fff;
	font-family: Roboto;
}
svg{
	width: 100%;
	height: 100%;
}
/*#chart{
	height: 20%;
}*/
.main{
	width: 100%;
	max-width: 1300px;
	height: 50%;
	margin-bottom: 10px;
}

#mask{
	display: flex;
	position: relative;
	top: -110px;
	height:80px;
}
#select_area{
	height: calc(100%-4px);
	width: 200px;
	border: 2px solid rgba(118,199,255,0.5)
}
#right_shadow, #left_shadow{
	height: inherit;
	background-color: #000;
	opacity: 0.3;
}
#right_shadow{
	float: right;
	width: 0;
}
#left_shadow{
	float: left;
}
#datepopup{
	display: none;
	position: absolute;
	background-color: inherit;
    left: calc(50% - 100px);
    top: 10px;
    border: 1px solid #E6E6E6;
    width: max-content;
    min-width: 150px;
    box-shadow: 0 1px 3px #E6E6E6;
    border-radius: 10px;
    padding: 5px;
}
.circhov{
	fill-opacity: 1;
	stroke-opacity: 1;
}
#night ,#day{
	width: 100%;
	text-align: center;
}
a{
	text-decoration: none;
	color: inherit;
	font-size: 20px;
}
select{
	background-color: #E8E4E4;
    border-color: #E8E4E4;
    width: 100%;
    color: inherit;
}
#chchart{
	float: right;
	width: 10%;
}
h2{
	display: inline;
    padding: 20px;
}
#values{

	display: inline-flex;
}
.popblock{
	margin:10px;
	font-size: 18px;
	font-weight: 2px;
}
.date{
	margin:5px;
}
p{
	margin: 2px 0;
}
#checkcharts{
	display: flex;
	padding: 20px;
}
.checkchart{
	height: 50px;
    border: 2px solid #E8E4E4;
    min-width: 150px;
    width: min-content;
    border-radius: 30px;
    margin: 0 5px;
	display: flex;
}
.icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px;
}
.checkp{
	margin: 15px;
	font-size: 20px;
}
.verticalpath{
	stroke-width: 3px;
}
#day,#night{
	color: #41A0E7;
}